@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/

.top-kv {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-gray);
}

.top-kv-title {
  font-family: var(--font-family-english);
  font-size: min(10vw, 80px);
  font-weight: bold;
}
.top-kv-title-wrap {
  width: 90%;
  display: grid;
  place-items: center;
}

.top-kv-sub {
  font-size: min(3vw, 18px);
  span {
    display: block;
  }
}
